<li id="wish<%= wish_item.id %>">
  <span class="description">
    <%= make_wish(wish_item) %>
  </span>
  <% if current_user?(wish_item.user) %>
    -
    <%= link_to "edit", edit_wish_item_path(wish_item) %> |
    <%= link_to "delete", wish_item, :method => :delete,
                                     :confirm => "Are you sure you want to delete the wish?",
                                     :title => wish_item.description %> 
  <% end %>
</li>
